        
        <header class="body-font bg-dark">
        
            <div class="mx-auto flex flex-wrap p-2 items-center"> 
              <a class="flex flex-wrap title-font font-medium text-gray-900">
          
                <span class="ml-3 text-xl" style="color: aliceblue;">Pratik Abnave</span>
                </a>
                <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center ">
                <a href="/" class="mr-5 hover:text-gray-900" style="color: antiquewhite;">Home</a>
                <a href="/covid" class="mr-5 hover:text-gray-900" style="color: antiquewhite;">Covid</a>
                <a href="/braintumor" class="mr-5 hover:text-gray-900" style="color: antiquewhite;">Brain Tumor</a>
                <a href="/breastcancer" class="mr-5 hover:text-gray-900" style="color: antiquewhite;">Breast Cancer</a>
                <a href="/alzheimer" class="mr-5 hover:text-gray-900" style="color: antiquewhite;">Alzheimer</a>
                <a href="/diabetes" class="mr-5 hover:text-gray-900" style="color: antiquewhite;">Diabetes</a>
                <a href="/pneumonia" class="mr-5 hover:text-gray-900" style="color: antiquewhite;">Pneumonia</a>
                <a href="/heartdisease" class="mr-5 hover:text-gray-900" style="color: antiquewhite;">Heart Disease</a>
                <a href="/kidney" class="mr-5 hover:text-gray-900" style="color: antiquewhite;">Kidney </a>
                <a href="/liver" class="mr-5 hover:text-gray-900" style="color: antiquewhite;">Liver </a>
                <a href="/malaria" class="mr-5 hover:text-gray-900" style="color: antiquewhite;">Malaria </a>

              </nav>
              
                      
          
            </div>
          </header>

          {% block header %}

          {% endblock %}
